.container{
    background-color: yellow;
    text-align: center;
    font-size: 46px;
}
.col{
    border: 1px solid black;
}
.italy{
    font-style: italic;
}
mark{
    color: red;
}
small{
    color: aqua;
}
abbr{
    color: palevioletred;
}